<section id="register">
    <div class="form">
      <h2>Register</h2>
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="register-form">
        <input
          type="text"
          name="email"
          id="register-email"
          placeholder="email"
          ngModel
          #inputEmail="ngModel"
          email
          required
        />    
        <div *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)" class="alert">
          <div *ngIf="inputEmail.errors?.['required']">
              <p>Email is required</p>
          </div>
          <div *ngIf="inputEmail.errors?.['email']">
              <p>This doesn't seem like a real email</p>
          </div>
      </div>

        <input
          type="password"
          name="password"
          id="register-password"
          placeholder="password"
          ngModel
          #inputPassword="ngModel"
          required
          minlength="6" 
          maxlength="25"
        />
        <div *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)" class="alert">
          <div *ngIf="inputPassword.errors?.['required']">
              <p>Password is required</p>
          </div>
          <div *ngIf="inputPassword.errors?.['minlength']">
              <p>Password should be at least 6 characters long</p>
          </div>
          <div *ngIf="inputPassword.errors?.['maxlength']">
              <p>Password should be no more than 25 characters long</p>
          </div>
      </div>

        <input
          type="password"
          name="re-password"
          id="repeat-password"
          placeholder="repeat password"
          ngModel
          #inputRePassword="ngModel"
          required
          pattern="{{inputPassword.value}}"
          />
        <div *ngIf="inputRePassword.invalid && inputPassword.dirty" class="alert">
              <div *ngIf="inputRePassword.errors?.['required']">
                  <p>Repeat password is required</p>
              </div>
              <div *ngIf="inputRePassword.errors?.['pattern']">
                  <p>Password and repeat password don't match</p>
              </div>
        </div>

        <button type="submit">register</button>
        <p class="message">Already registered? <a routerLink="/auth/login">Login</a></p>
      </form>
    </div>
    </section>
