<section id="login">
    <div class="form">
      <h2>Login</h2>
      <form #LoginForm="ngForm" (ngSubmit)="login(LoginForm)" class="login-form">
        <input type="text" name="email" id="email" placeholder="email" ngModel #inputEmail="ngModel" required="" />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
          ngModel
          #inputPassword="ngModel"
          required
        />
        <button type="submit">login</button>
        <p class="message">
          Not registered? <a routerLink="/auth/register">Create an account</a>
        </p>
      </form>
    </div>
    </section>
