<h2>All strollers</h2>
    <app-loader *ngIf="!strollersList"></app-loader>
    <section *ngFor="let stroller of strollersList" id="dashboard" >
        <div class="product">
            <img src="{{stroller.image}}"/>
            <p class="title">
              {{stroller.brand}}
            </p>
            <p>Mounth: {{stroller.mounth}}</p>
            <p>Price:<span class="price">{{stroller.price}}</span>Euro per day</p>
            <a class="details-btn" routerLink="/stroller/{{stroller?.key}}">Details</a>
          </div> 
    </section>
