<header>
    <a id="logo" href="/"
      ><img id="logo-img" src="../../../assets/image/collection-baby-carriage-cliparts-6.png" alt=""
    /></a>

    
    <nav>
      <div>
        <a routerLink="/stroller/catalog">Products</a>
        <!-- <a routerLink="/redemption">Sell</a> -->
      </div>
    <!-- Logged-in users -->

      <div *ngIf="isLoggedIn" class="user">
        <a routerLink="/auth/profile/{{userId}}">My profile</a>
        <a (click)="logout()">Logout</a>
        <app-cart-bar></app-cart-bar>
        
      </div>
      
        
      
    <!-- Guest users -->
      <div *ngIf="!isLoggedIn" class="guest">
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/register">Register</a>
      </div>
    
    </nav>
    
</header>

