<section id="user-profile-page" class="user-profile">
    <app-loader *ngIf="!currentUser"></app-loader>
    <article class="user-info">
        <div class="user-content">
            <p>Email: {{currentUser?.email}}</p>
        </div>
    </article>
    <div id="details-wrapper">
        <div>
            <h1>My rent stroller</h1>
            <div *ngIf="haveRentStroller">
                <div *ngFor="let stroller of currentUser?.rent">
                <!-- <a routerLink="/stroller/{{stroller.id}}"> -->
                <img class="details-img" src="{{stroller.image}}">
                <p>{{stroller.brand}}</p>
                <!-- </a> -->
            </div>
            </div>
            
        </div>
        <div *ngIf="!haveRentStroller">
        <p class="no-memes">You don`t have rent stroller.</p>
        </div>
    </div>
</section>
