#home {
    background-color: rgb(245, 219, 223);
  }

  #home img {
    display: block;
    margin: auto;
    height: 48%;
    width: 48%;
    background-color: transparent;
  }
  
  #home h2,
  #home h3 {
    font-style: italic;
    font-size: 27px;
    color: rgb(240, 14, 52);;
    text-align: center;
  }