<section id="details" *ngIf="currentStroller">
  <app-loader *ngIf="!currentStroller"></app-loader>
    <div id="details-wrapper">
      <img id="details-img" src="{{currentStroller.image}}" />
      <p id="details-title">Brand: {{currentStroller.brand}}</p>
      <p id="details-price">
        Price: <span id="price-number">{{currentStroller.price}}</span>$ per day</p>
      <div id="info-wrapper">
        <div id="details-description">
          Mounth: <span id="buys">{{currentStroller.mounth}}</span> 
          <p>Description: {{currentStroller.description}}</p>
          <div *ngIf="isLoggedIn">
            <a class="rent-btn" (click)="addToCart(currentStroller)" routerLink="/cart">Add to cart</a>
            <p>
            <a class="rent-btn" routerLink="/stroller/catalog">Cancel</a>
          </p>
          </div>
          <div *ngIf="!isLoggedIn">
            <p>If you want to rent stroller <a routerLink="/auth/login">Login</a></p>
          </div>
          
        </div>
      </div>
    </div>
  </section>
